<div class="mat-typography app-container" [class.is-mobile]="isMobile">
  <div>
    <mat-toolbar color="accent">
      <button
        mat-icon-button
        (click)="onMenuClick()"
        matTooltip="Menu">
        <mat-icon>menu</mat-icon>
      </button>
      <img id="logo" src="assets/coveros-logo.png" alt="Coveros Logo"/>
      <span>Training</span>
      <span fxFlex></span>
      <a routerLink="/users" routerLinkActive="active"
         mat-icon-button
         matTooltip="Users">
        <mat-icon>face</mat-icon>
      </a>
      <a routerLink="/training" routerLinkActive="active"
         mat-icon-button
         matTooltip="Training">
        <mat-icon>school</mat-icon>
      </a>
      <button mat-icon-button
              (click)="onSignOut()"
              matTooltip="Sign Out"
              aria-label="Sign Out">
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </mat-toolbar>
  </div>
  <mat-sidenav-container>
    <mat-sidenav
      [mode]="sidenavMode"
      [opened]="sidenavOpen">

      <!--Should be a separate component-->

      <mat-nav-list>
        <h3 matSubheader>Menu</h3>
        <a mat-list-item routerLink="/users" routerLinkActive="active">Users</a>
        <a mat-list-item routerLink="/training" routerLinkActive="active">Training</a>
      </mat-nav-list>

    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
